<form method="post" id="CompanyAddForm" action="">

    <fieldset>
        <legend>Add Company</legend>
        <div class="input text required form-group">
            <label class="control-label" for="CompanyName">Name</label>
            <input type="text" required="required" id="CompanyName" maxlength="255" ng-model="name" name="name" class="form-control">
        </div>
        <div class="input text required form-group">
            <label class="control-label" for="CompanyTag">Tag</label>
            <input type="text" required="required" id="CompanyTag" maxlength="255" ng-model="tag" name="tag" class="form-control">
        </div>
        <div class="input1 text1 required form-group">
            <label class="control-label" for="CompanyTag">Company Logo</label>
       		<input type="file" file-model="myFile"/>
		    
        </div>

		    
		
        <div class="input textarea required form-group">
            <label class="control-label" for="CompanyDescription">Description</label>
            <textarea class="form-control" required="required" id="CompanyDescription" rows="6" cols="30" ng-model="description" name="description"></textarea>
        </div>
        <div class="input text required form-group">
            <label class="control-label" for="CompanyCity">City</label>
            <input type="text" required="required" id="CompanyCity" maxlength="255" ng-model="city" name="city" class="form-control">
        </div>
        <div class="input text required form-group">
            <label class="control-label" for="CompanyState">State</label>
            <input type="text" required="required" id="CompanyState" maxlength="255" ng-model="state" name="state" class="form-control">
        </div>
        <div class="input text required form-group">
            <label class="control-label" for="CompanyCountry">Country</label>
            <input type="text" required="required" id="CompanyCountry" maxlength="255" ng-model="country" name="country" class="form-control">
        </div>
        <div class="input text required form-group">
            <label class="control-label" for="CompanyPincode">Pincode</label>
            <input type="text" required="required" id="CompanyPincode" maxlength="20" ng-model="pincode" name="pincode" class="form-control">
        </div>
    </fieldset>

    <input class="btn btn-info" type="button" ng-click="submitForm()" value="Save">
</form>