<IfModule mod_rewrite.c>
   RewriteEngine on

   RewriteCond %{REQUEST_URI} !^/angular.*
   RewriteCond %{REQUEST_URI} !-f
   RewriteRule    ^$ app/webroot/    [L]


   RewriteCond %{REQUEST_URI} !^/angular.*
   RewriteCond %{REQUEST_URI} !-d
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>